*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;

}

.Layout{
    background-image:url('imagens/background.jpg');
    height: 320px;
    background-size: cover; /* mantem o tamanho máximo sem repetição*/
    background-position: center;
    padding-top: 200px;
    background-attachment: fixed;

}
.Layout p {
    text-align: center;
    color: aliceblue;
    font-size: 3em;/* 12 pt ou 16 pixels */
    font-weight: bold;
}
.Modulo{
padding: 150px 0px  150px 0px;
margin: 0 auto;
max-width: 1024px;

}
footer{
    background-color: #8b0000;
    padding: 70px;
    text-align: center;
    color: aliceblue;
    font-size: 0.9em;
}
#top{
    position: fixed;
    cursor: pointer;
    right: 15px;
    bottom: 15px;
}
